<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Random Phone number generator</h1>
  <button class="btn btn-default" (click)="sortInAscending()">Ascending</button>
  <button class="btn btn-default" (click)="sortInDescending()">Descending</button>
  <div class="form-head">
    <input type="email" class="form-control" [(ngModel)]="numberOfTimes" id="genrate-number-input" placeholder="How many numbers will you like to generate">
    <button type="submit" class="btn btn-primary" (click)="generateRandomNumbers()" >Submit</button>      
    <button (click)="getMaximumNumber()">Maximum</button>
    <button (click)="getMinimumNumber()">Minimum</button>
  </div>
  <div *ngIf="displayMaxOrMin"><strong>{{currentDisplay}}</strong>: {{maximumOrMinimum}}</div>
  <h4>Random numbers</h4>
  <div *ngFor="let phoneNumber of arrayOfRandomNumbers">
    {{phoneNumber}}
  </div>
</div>